<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- AXIOS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js' integrity='sha512-L4lHq2JI/GoKsERT8KYa72iCwfSrKYWEyaBxzJeeITM9Lub5vlTj8tufqYk056exhjo2QDEipJrg6zen/DDtoQ==' crossorigin='anonymous'></script>
    <!-- VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- FONTAWESOME -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css' integrity='sha512-FA9cIbtlP61W0PRtX36P6CGRy0vZs0C2Uw26Q1cMmj3xwhftftymr0sj8/YeezDnRwL9wtWw8ZwtCiTDXlXGjQ==' crossorigin='anonymous'/>
    <!-- BOOTSTRAP -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css' integrity='sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==' crossorigin='anonymous'/>
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="css/style.css">
    <!-- TITLE -->
    <title>Email List</title>
</head>
<body>
    <main id="root">
        <div class="container d-flex align-content-center">
            <div v-if="isLoading" class="loader d-flex align-items-center justify-content-center">
                <div class="loader-space d-flex flex-column align-items-center justify-content-center">
                    <h3 class="mb-3">LOADING</h3>
                    <i class="fa-solid fa-spinner fa-spin fa-4x"></i>
                </div>
            </div>
            <div class="row flex-grow-1">
                <div class="col-6 m-auto">
                    <div v-if="errorMessage" class="error">
                        <div class="alert alert-danger text-center h2">{{ errorMessage }}</div>
                    </div>
                    <div v-if="!isLoading && !errorMessage" class="emails">
                        <h1 class="text-center mb-3">EMAIL LIST</h1>
                        <ul class="list-group text-center mb-3">
                            <li v-for="(email, i) in emailList" class="list-group-item list-group-item-dark">{{ email }}<i role="button" class="fa-solid fa-xmark float-end" @click="removeEmail(i)"></i></li>
                        </ul>
                        <div class="input-group mb-3">
                            <input ref="emailField" type="number" class="form-control" placeholder="Numero di email da aggiungere" v-model="emailToAdd" min="1" @keyup.enter="addEmail(emailToAdd)">
                            <button class="btn btn-success" type="button" @click="addEmail(emailToAdd)">Aggiungi</button>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- JAVASCRIPT -->
    <script src="js/script.js"></script>
</body>
</html>